/**
 * @name purple2 theme
 * @author Disease#5663
 * @version 1.0.0
 * @description Based on Outlook Web.
 * @source https://github.com/maenDisease/Outlook
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Outlook
*/

@import url('https://maendisease.github.io/Outlook/Outlook.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');

:root {
  --home-image: url('https://maendisease.github.io/Outlook/illustrations/homeimage-default.avif');
  --accent-hue: 262;
  --accent-saturation: 36%;
  --accent-brightness: 55%;
  --gradient-toggle: 1;
  --gradient-hue-shift: 3.33;
  --gradient-saturation: 80%;
  --gradient-deg: 171deg;
  --customFont: Segoe UI;
}

/* Any custom CSS below here */


